@include font-face("TT Runs Trial", 500, normal, url("../../fonts/tt-runs-trial/tt-runs-trial-500.woff2") format("woff2"));
@include font-face("TT Runs Trial", 600, normal, url("../../fonts/tt-runs-trial/tt-runs-trial-600.woff2") format("woff2"));
@include font-face("TT Runs Trial", 700, normal, url("../../fonts/tt-runs-trial/tt-runs-trial-700.woff2") format("woff2"));
@include font-face("TT Runs Trial", 800, normal, url("../../fonts/tt-runs-trial/tt-runs-trial-800.woff2") format("woff2"));
@include font-face("TT Commons Pro Trial", 400, normal, url("../../fonts/tt-commons-pro/tt-commons-pro-trial-400.woff2") format("woff2"));
@include font-face("TT Commons Pro Trial", 500, normal, url("../../fonts/tt-commons-pro/tt-commons-pro-trial-500.woff2") format("woff2"));
