*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overflow-x: hidden;
  scroll-behavior: smooth;
  overscroll-behavior: contain;
}

html {
  font-size: clamp(calc(100% - 25%), size-desktop($fz-default), calc(100% + 100%));

  @include vp-1439 {
    font-size: size-desktop($fz-default);
  }

  @include vp-767 {
    font-size: size-tablet($fz-tablet);
  }

  @include vp-374 {
    font-size: size-mobile($fz-tablet);
  }
}

body {
  font-family: $ff-primary;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  color: $color-main;
  background-color: $background-main;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
}
