// Colors
$background-main:                   #f1f1f1;
$background-accent:                 #00ffa9;
$background-banner:                 #edebe9;
$color-main:                        #0e0e0e;
$color-privacy:                     rgba(14, 14, 14, 0.4);
$color-main-transparent:            rgba(14, 14, 14, 0.6);
$color-main-transparent-second:     rgba(14, 14, 14, 0.8);
$color-second:                      #ffffff;
$color-liner:                       #e4e4e4;
$color-banner:                      #04251a;

// Fonts
$ff-primary:                        "TT Commons Pro Trial", "Google Sans Flex", sans-serif;
$ff-second:                         "TT Runs Trial", "Google Sans Flex", sans-serif;
$fz-default:                        16px;
$fz-tablet:                         15px;

// Viewports
$vp-375:                            375px;
$vp-768:                            768px;
$vp-1440:                           1440px;
