.banner__title,
.banner__subtitle,
.banner__icon,
.banner__icon svg,
.banner__image,
.banner__description,
.banner__button,
.banner__gallery-item {
  opacity: 0;
  will-change: opacity, transform;
}

.banner__title {
  font-family: $ff-second;
  font-size: size(14px);
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: size(-0.4px);
  text-transform: lowercase;
  margin: 0;
  margin-bottom: size(8px);
  grid-row: 2 / 3;
  grid-column: 1 / 4;

  @include tablet {
    font-size: size-tablet(13px);
    letter-spacing: size-tablet(-0.4px);
    margin-bottom: size-tablet(24px);
    grid-row: 1 / 2;
  }
}


.banner__subtitle-wrapper {
  max-width: size(539px);
  margin-bottom: size(7px);
  grid-row: 3 / 4;
  grid-column: 1 / 4;
  z-index: 1;

  @include tablet {
    margin-bottom: size-tablet(24px);
    grid-row: 2 / 3;
  }
}

.banner__subtitle {
  font-family: $ff-second;
  font-size: size(36px);
  font-weight: 600;
  line-height: 1.13;
  letter-spacing: size(-1.1px);
  color: $color-banner;
  margin: 0;

  @include tablet {
    font-size: size-tablet(28px);
    letter-spacing: size-tablet(-0.8px);
  }
}

.banner__subtitle-wrapper .banner__icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner__subtitle-wrapper-banner-1 {
  display: grid;
  grid-template-rows: repeat(3, min-content);
  grid-template-columns: min-content min-content auto min-content auto size(3px) min-content auto;

  @include tablet {
    grid-template-columns: min-content min-content auto min-content auto size-tablet(13px) min-content auto;
  }
}

.banner__subtitle-wrapper-banner-1 .banner__subtitle--one {
  grid-row: 1 / 2;
  grid-column: 1 / 4;
  margin-right: size(10px);

  @include tablet {
    margin-right: size-tablet(9px);
  }
}

.banner__subtitle-wrapper-banner-1 .banner__subtitle--two {
  text-transform: lowercase;
  margin-bottom: size(9px);
  grid-row: 2 / 3;
  grid-column: 2 / 6;

  @include tablet {
    margin-bottom: size-tablet(7px);
  }
}

.banner__subtitle-wrapper-banner-1 .banner__subtitle--three {
  grid-row: 2 / 3;
  grid-column: 8 / 9;
}

.banner__subtitle-wrapper-banner-1 .banner__subtitle--four {
  min-width: size(366px);
  background-color: $background-accent;
  padding: size(3px) size(23px) size(5px);
  border-radius: 154px;
  grid-row: 3 / 4;
  grid-column: 3 / 7;

  @include tablet {
    min-width: size-tablet(285px);
    padding: size-tablet(2px) size-tablet(18px) size-tablet(4px);
    grid-column: 3 / 7;
  }
}

.banner__subtitle-wrapper-banner-1 .banner__icon--one {
  grid-row: 1 / 2;
  grid-column: 4 / 5;
}

.banner__subtitle-wrapper-banner-1 .banner__icon--one svg {
  width: size(40px);
  height: size(31px);

  @include tablet {
    width: size-tablet(36px);
    height: size-tablet(29px);
  }
}

.banner__subtitle-wrapper-banner-1 .banner__image--heart,
.banner__subtitle-wrapper-banner-1 .banner__image--building {
  width: size(40px);
  height: size(40px);

  @include tablet {
    width: size-tablet(32px);
    height: size-tablet(32px);
  }
}

.banner__subtitle-wrapper-banner-1 .banner__image--heart {
  margin-right: size(4px);
  grid-row: 2 / 3;
  grid-column: 1 / 2;

  @include tablet {
    margin-right: size-tablet(4px);
  }
}

.banner__subtitle-wrapper-banner-1 .banner__image--building {
  grid-row: 2 / 3;
  grid-column: 7 / 8;

  @include tablet {
    margin-right: size-tablet(10px);
    grid-column: 6 / 8;
  }
}

.banner__subtitle-wrapper-banner-1 .banner__icon--two {
  width: size(64px);
  height: size(49px);
  background-color: $background-accent;
  border-radius: 154px;
  grid-row: 3 / 4;
  grid-column: 1 / 3;

  @include tablet {
    width: size-tablet(50px);
    height: size-tablet(38px);
    border-radius: 120px;
  }
}

.banner__subtitle-wrapper-banner-1 .banner__icon--two svg {
  width: size(28px);
  height: size(28px);

  @include tablet {
    width: size-tablet(22px);
    height: size-tablet(22px);
  }
}

.banner__description {
  max-width: size(464px);
  font-weight: 400;
  line-height: 1.35;
  letter-spacing: size(-0.4px);
  margin: 0;
  grid-row: 4 / 5;
  grid-column: 1 / 3;

  @include tablet {
    max-width: size-tablet(315px);
    font-size: size-tablet($fz-tablet);
    line-height: 1.36;
    letter-spacing: size-tablet(-0.41px);
    margin-bottom: size-tablet(20px);
    grid-row: 3 / 4;
  }
}

.banner__gallery {
  margin: 0;
  padding: 0;
  list-style: none;
  grid-row: 1 / -1;
  grid-column: 3 / 5;
}

.banner__gallery-item {
  width: min-content;
  height: min-content;
}

.banner__gallery--one {
  display: grid;
  grid-template-rows: size(8px) min-content size(30px) size(134px) min-content min-content;
  grid-template-columns: min-content size(40px) min-content size(60px) min-content size(181px) min-content;

  @include tablet {
    margin-top: size-tablet(5px);
    grid-template-rows: size-tablet(45px) size-tablet(125px) min-content size-tablet(45px) min-content;
    grid-template-columns: size-tablet(97px) min-content size-tablet(7px) size-tablet(42px) min-content;
  }
}

.banner__gallery--one .banner__gallery-item--one {
  grid-row: 4 / 6;
  grid-column: 1 / 3;

  @include tablet {
    grid-row: 3 / 5;
  }
}

.banner__gallery--one .banner__gallery-item--one .banner__gallery-item-image {
  width: size(280px);
  height: size(194px);
  box-shadow: 0 20px 37px 0 rgba(0, 0, 0, 0.16);

  @include tablet {
    width: size-tablet(148px);
    height: size-tablet(102px);
    box-shadow: 0 11px 20px 0 rgba(0, 0, 0, 0.16);
  }
}

.banner__gallery--one .banner__gallery-item--two {
  grid-row: 2 / 5;
  grid-column: 2 / 5;
  z-index: 1;

  @include tablet {
    grid-row: 1 / 4;
  }
}

.banner__gallery--one .banner__gallery-item--two .banner__gallery-item-image {
  width: size(180px);
  height: size(390px);
  border-radius: 29px;
  box-shadow:
    0 0.8px 0.7px 0 rgba(0, 0, 0, 0.04),
    0 1.8px 1.6px 0 rgba(0, 0, 0, 0.06),
    0 3px 3px 0 rgba(0, 0, 0, 0.07),
    0 47px 34px 0 rgba(0, 0, 0, 0.14);

  @include tablet {
    width: size-tablet(99px);
    height: size-tablet(215px);
    box-shadow:
      0 0.5px 0.4px 0 rgba(0, 0, 0, 0.04),
      0 1px 0.9px 0 rgba(0, 0, 0, 0.06),
      0 1.8px 1.5px 0 rgba(0, 0, 0, 0.07),
      0 26px 19px 0 rgba(0, 0, 0, 0.14);
  }
}

.banner__gallery--one .banner__gallery-item--three {
  border-radius: 14px;
  grid-row: 3 / 7;
  grid-column: 4 / 7;
  z-index: 2;
  position: relative;

  @include tablet {
    margin-top: size-tablet(-6px);
    grid-row: 3 / 6;
    grid-column: 4 / 6;
  }
}

.banner__gallery--one .banner__gallery-item--three .banner__gallery-item-image {
  width: size(278px);
  height: size(278px);
  border-radius: 23px;
  box-shadow:
    0 33px 34px 0 rgba(0, 0, 0, 0.12),
    5px -5px 12px 5px rgba(255, 255, 255, 0.2);

  @include tablet {
    width: size-tablet(144px);
    height: size-tablet(144px);

    box-shadow:
      0 17px 18px 0 rgba(0, 0, 0, 0.12),
      3px -3px 6px 2px rgba(255, 255, 255, 0.2);
  }
}

.banner__gallery--one .banner__gallery-item--three img {
  border-radius: 25px;

  @include tablet {
    border-radius: 12px;
  }
}

.banner__gallery--one .banner__gallery-item--three .banner__item-icon {
  width: size(63px);
  height: size(50px);
  background-color: $background-accent;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: size(187px);
  left: size(247px);

  @include max-tablet {
    display: none;
  }
}

.banner__gallery--one .banner__gallery-item--three svg {
  width: size(36px);
  height: size(30px);
}

.banner__gallery--one .banner__gallery-item--four {
  margin-top: size(8px);
  grid-row: 2 / 5;
  grid-column: 6 / 8;
  z-index: 3;

  @include tablet {
    margin-top: 0;
    margin-left: size-tablet(-2px);
    grid-row: 2 / 4;
    grid-column: 3 / 6;
  }
}

.banner__gallery--one .banner__gallery-item--four .banner__gallery-item-image {
  width: size(374px);
  height: size(297px);

  @include tablet {
    width: size-tablet(206px);
    height: size-tablet(164px);
  }
}

.banner__subtitle-wrapper-banner-2 {
  display: grid;
  grid-template-rows: repeat(3, min-content);
  grid-template-columns: min-content size(10px) auto;

  @include tablet {
    margin-bottom: size-tablet(24px);
    grid-row: 3 / 4;
    grid-template-columns: min-content size-tablet(10px) auto;
  }
}

.banner__subtitle-wrapper-banner-2 .banner__subtitle--one {
  grid-row: 1 / 2;
  grid-column: 1 / 4;
}

.banner__subtitle-wrapper-banner-2 .banner__subtitle--two,
.banner__subtitle-wrapper-banner-2 .banner__subtitle--three {
  text-transform: lowercase;
}

.banner__subtitle-wrapper-banner-2 .banner__subtitle--two {
  grid-row: 2 / 3;
  grid-column: 3 / 4;
}

.banner__subtitle-wrapper-banner-2 .banner__subtitle--three {
  grid-row: 3 / 4;
  grid-column: 1 / 4;
}

.banner__subtitle-wrapper-banner-2 .banner__icon {
  width: size(50px);
  height: size(40px);
  background-color: $background-accent;
  border-radius: 12px;
  margin-right: size(8px);
  grid-row: 2 / 3;
  grid-column: 1 / 2;

  @include tablet {
    width: size-tablet(40px);
    height: size-tablet(32px);
    margin-right: size-tablet(2px);
  }
}

.banner__subtitle-wrapper-banner-2 .banner__icon svg {
  width: size(22px);
  height: size(27px);

  @include tablet {
    width: size-tablet(18px);
    height: size-tablet(22px);
  }
}

.banner__gallery--two {
  grid-column: 4 / 5;
  display: grid;
  grid-template-rows: size(72px) size(128px) min-content size(42px) size(72px) min-content size(23px) size(13px) min-content min-content;
  grid-template-columns: size(95px) auto size(18px) size(61px) size(167px) size(34px) size(113px) size(81px) auto auto;

  @include tablet {
    margin-top: size-tablet(3px);
    grid-row: 2 / 7;
    grid-template-rows: size-tablet(37px) min-content size-tablet(37px);
    grid-template-columns: repeat(2, min-content);
    column-gap: size-tablet(17px);
    position: relative;

    &::before {
      content: " ";
      display: block;
      width: size-tablet(436px);
      height: size-tablet(436px);
      background-color: $color-second;
      border-radius: 100%;
      filter: blur(78.5px);
      position: absolute;
      top: 0;
      left: size-tablet(-89px);
    }
  }
}

.banner__gallery--two .banner__gallery-item--one {
  grid-row: 1 / 10;
  grid-column: 4 / 6;

  @include tablet {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
  }
}

.banner__gallery--two .banner__gallery-item--one .banner__gallery-item-image,
.banner__gallery--two .banner__gallery-item--two .banner__gallery-item-image {
  width: size(227px);
  height: size(480px);
}

.banner__gallery--two .banner__gallery-item--one .banner__gallery-item-image {
  @include tablet {
    width: size-tablet(121px);
    height: size-tablet(252px);
  }
}

.banner__gallery--two .banner__gallery-item--one img {
  @include tablet {
    height: 100%;
  }
}

.banner__gallery--two .banner__gallery-item--two {
  grid-row: 2 / 11;
  grid-column: 7 / 10;

  @include tablet {
    grid-row: 2 / 4;
    grid-column: 2 / 3;
  }
}

.banner__gallery--two .banner__gallery-item--three,
.banner__gallery--two .banner__gallery-item--four,
.banner__gallery--two .banner__gallery-item--five,
.banner__gallery--two .banner__gallery-item--six {
  @include max-tablet {
    display: none;
  }
}

.banner__gallery--two .banner__gallery-item--three {
  grid-row: 5 / 7;
  grid-column: 1 / 5;
  z-index: 1;
}

.banner__gallery--two .banner__gallery-item--three .banner__gallery-item-image {
  width: size(234px);
  height: size(124px);
  border-radius: 15px;
}

.banner__gallery--two .banner__gallery-item--three img {
  border-radius: 15px;
}

.banner__gallery--two .banner__gallery-item--four {
  grid-row: 6 / 8;
  grid-column: 8 / 11;
  z-index: 1;
}

.banner__gallery--two .banner__gallery-item--four .banner__gallery-item-image {
  width: size(234px);
  height: size(74px);
}

.banner__gallery--two .banner__gallery-item--four img {
  border-radius: 12px;
}

.banner__gallery--two .banner__gallery-item--five {
  grid-row: 9 / 10;
  grid-column: 9 / 11;
  z-index: 1;
}

.banner__gallery--two .banner__gallery-item--five .banner__gallery-item-image {
  width: size(104px);
  height: size(30px);
}

.banner__gallery--two .banner__gallery-item--five img {
  border-radius: 45px;
}

.banner__gallery--two .banner__gallery-item--six {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
}

.banner__gallery--two .banner__gallery-item--six .banner__gallery-item-image {
  width: size(60px);
  height: size(60px);
}

.banner__gallery--two .banner__gallery-item--six img {
  border-radius: 22px;
}

.banner__gallery--two .banner__gallery-item--three img,
.banner__gallery--two .banner__gallery-item--four img,
.banner__gallery--two .banner__gallery-item--five img,
.banner__gallery--two .banner__gallery-item--six img {
  box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.05);
}

.banner__button {
  width: size(224px);
  grid-row: 5 / 6;
  grid-column: 1 / 2;

  @include tablet {
    width: size-tablet(193px);
    grid-row: 4 / 5;
  }
}

.banner .banner__button {
  line-height: 1.2;
}
