.banners {
  padding: size(80px) size(28px) 0 size(30px);

  @include tablet {
    padding: size-tablet(60px) size-tablet(20px) 0;
  }

  @include mobile {
    display: none;
  }
}

.banners__slider {
  position: relative;
}

.banners__slides-container {
  width: 100%;
  overflow: hidden;

  @include large-width {
    max-width: 2764px;
    margin: 0 auto;
  }
}

.banners__slides-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  column-gap: size(30px);
  transition: transform 0.5s ease;

  &:focus-within {
    scroll-snap-type: none;
  }

  @include large-width {
    max-width: 2764px;
    margin: 0 auto;
  }

  @include tablet {
    column-gap: size-tablet(20px);
  }
}

.banners__slide {
  width: size(1382px);
  min-height: size(650px);
  border-radius: 30px;
  flex: 0 0 100%;
  margin: 0 auto;
  display: grid;
  row-gap: size(24px);

  &--one {
    background-color: $color-second;
    padding: size(62px) size(20px) size(77px) size(30px);
    grid-template-rows: size(15px) min-content min-content min-content min-content size(100px);
    grid-template-columns: size(224px) size(277px) size(40px) 1fr;

    @include tablet {
      padding: size-tablet(60px) size-tablet(3px) size-tablet(77px) size-tablet(25px);
      grid-template-rows: min-content min-content min-content min-content size-tablet(10px);
      grid-template-columns: auto size-tablet(155px) size-tablet(75px) auto;
    }
  }

  &--two {
    background-color: $background-banner;
    background-image: linear-gradient(295deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.6) 100%);
    padding: size(50px) size(96px) size(49px) size(30px);
    grid-template-rows: size(28px) min-content min-content min-content min-content min-content;
    grid-template-columns: size(224px) size(208px) size(40px) 1fr;

    @include tablet {
      padding: size-tablet(60px) size-tablet(43px) size-tablet(25px) size-tablet(30px);
      grid-template-rows: min-content size-tablet(24px) min-content min-content min-content size-tablet(42px);
      grid-template-columns: auto size-tablet(171px) size-tablet(32px) 1fr;
      position: relative;
    }
  }

  @include tablet {
    width: size-tablet(740px);
    min-height: size-tablet(450px);
    border-radius: 25px;
    row-gap: 0;
  }
}

.banners__slide:not(.banners__slide--active) {
  contain: style;
}

.banners__slide:not(.banners__slide--active) .banner__button {
  pointer-events: none;
}

.banners__slide--two .banner__title {
  @include tablet {
    margin: 0;
  }
}

.banners__slide--two .banner__description {
  letter-spacing: size(-0.3px);

  @include tablet {
    max-width: unset;
    line-height: 1.4;
    letter-spacing: size-tablet(-0.3px);
    margin: 0;
    margin-bottom: size-tablet(20px);
    grid-row: 4 / 5;
  }
}

.banners__slide--two .banner__button {
  @include tablet {
    line-height: 1.3;
    grid-row: 5 / 6;
  }
}

.banners__pagination {
  position: absolute;
  bottom: size(40px);
  left: size(40px);
  display: flex;
  column-gap: size(10px);

  @include large-width {
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
  }

  @include tablet {
    bottom: size-tablet(26px);
    left: 50%;
    transform: translateX(-50%);
  }
}

.banners__pagination-button {
  width: size(10px);
  height: size(10px);
  border: none;
  border-radius: 50%;
  background-color: $color-main;
  padding: 0;
  opacity: 0.3;
  cursor: pointer;

  &--active {
    opacity: 1;
  }

  @include tablet {
    width: size-tablet(6px);
    height: size-tablet(6px);
  }
}
