.button-burger {
  width: size-tablet(32px);
  height: size-tablet(32px);
  border: none;
  background-color: transparent;
  position: relative;
  transition: all 0.3s ease;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    display: block;
    width: size-tablet(30px);
    height: size-tablet(3px);
    background-color: $color-main;
    transition: all 0.3s ease;
    position: absolute;
    top: 0;
    left: size-tablet(1px);

    @include mobile {
      width: size-mobile(30px);
      height: size-mobile(3px);
      left: size-mobile(1px);
    }
  }

  &::before {
    top: size-tablet(12px);

    @include mobile {
      top: size-mobile(12px);
    }
  }

  &::after {
    top: size-tablet(18px);

    @include mobile {
      top: size-mobile(18px);
    }
  }

  &--opened {
    &::before {
      transform: translateY(size-tablet(3px)) rotate(45deg);
    }

    &::after {
      transform: translateY(size-tablet(-3px)) rotate(-45deg);
    }

    @include mobile {
      &::before {
        transform: translateY(size-mobile(3px)) rotate(45deg);
      }

      &::after {
        transform: translateY(size-mobile(-3px)) rotate(-45deg);
      }
    }
  }

  @include mobile {
    width: size-mobile(32px);
    height: size-mobile(32px);
  }
}
