.contacts,
.contacts__main,
.contacts__tg {
  display: flex;
  flex-direction: column;
}

.contacts {
  row-gap: size(24px);

  @include tablet {
    flex-direction: row;
    column-gap: size-tablet(58px);
    row-gap: unset;
  }

  @include mobile {
    row-gap: size-mobile(14px);
    padding: size-mobile(20px) size-mobile(8px) size-mobile(20px) size-mobile(20px);
  }
}

.contacts__main,
.contacts__tg {
  row-gap: size(5px);

  @include tablet {
    row-gap: size-tablet(10px);
  }

  @include mobile {
    row-gap: size-mobile(8px);
  }
}

.contacts__main--hero {
  margin-bottom: size(15px);
}

.contacts__main--footer {
  row-gap: size(4px);

  @include tablet {
    row-gap: size-tablet(4px);
  }

  @include mobile {
    row-gap: size-mobile(15px);
  }
}

.contacts__tg--footer {
  row-gap: size(6px);

  @include tablet {
    row-gap: size-tablet(6px);
  }

  @include mobile {
    max-width: size-mobile(345px);
    margin-left: size-mobile(2px);
    row-gap: size-mobile(6px);
    align-self: flex-start;
  }
}

.contacts__tg--footer svg {
  margin-top: size-mobile(4px);
}

.contacts__main--footer a,
.contacts__tg--footer a {
  line-height: 1.2;
}

.contacts__main--footer a {
  width: max-content;
  font-size: size(22px);
  letter-spacing: size(-0.1px);

  @include max-tablet {
    width: unset;
  }

  @include tablet {
    font-size: size-tablet($fz-default);
    letter-spacing: size-tablet(-0.1px);
  }

  @include mobile {
    font-size: size-mobile($fz-default);
    letter-spacing: size-mobile(-0.2px);
  }
}

.contacts__tg--footer a {
  width: max-content;
  font-size: size(24px);
  letter-spacing: size(-0.2px);
  text-underline-offset: size(5px);

  @include max-tablet {
    width: unset;
  }

  @include tablet {
    font-size: size-tablet(24px);
    letter-spacing: size-tablet(-0.2px);
    text-underline-offset: size-tablet(5px);
  }

  @include mobile {
    font-size: size-mobile(24px);
    letter-spacing: size-mobile(-0.2px);
    text-underline-offset: size-mobile(5px);
    flex-direction: row-reverse;
  }
}

.contacts__email,
.contacts__phone,
.contacts__tg-address {
  font-size: size(18px);
  line-height: 1.25;
  font-weight: 500;
  letter-spacing: size(-0.2px);
  text-underline-offset: size(4px);
  color: inherit;
  transition: color 0.3s ease;

  &:hover,
  &:focus,
  &:focus-visible {
    color: $color-main-transparent;
  }

  @include tablet {
    font-size: size-tablet(15px);
    letter-spacing: size-tablet(-0.2px);
    text-underline-offset: size-tablet(4px);
  }

  @include mobile {
    font-size: size-mobile(15px);
    letter-spacing: size-mobile(-0.2px);
    text-underline-offset: size-mobile(4px);
  }
}

.contacts__phone,
.contacts__tg-address {
  text-decoration: underline;
}

.contacts__phone {
  @include tablet {
    max-width: size-tablet(134px);
  }

  @include mobile {
    max-width: size-mobile(134px);
  }
}

.contacts__tg-address {
  display: flex;
  align-items: center;
  column-gap: size-mobile(5px);
}

.contacts__tg-address svg {
  @include tablet-etalon {
    display: none;
  }

  min-width: size-mobile(14px);
  height: size-mobile(14px);
}

.contacts__phone--footer {
  text-underline-offset: size(5px);

  @include tablet {
    text-underline-offset: size-tablet(5px);
  }

  @include mobile {
    text-underline-offset: size-mobile(4px);
  }
}

.contacts__tg-text {
  font-family: $ff-second;
  font-size: size(13px);
  line-height: 110%;
  letter-spacing: size(-0.5px);
  text-transform: lowercase;
  color: $color-main-transparent;

  @include tablet {
    font-size: size-tablet(13px);
    letter-spacing: size-tablet(-0.5px);
  }

  @include mobile {
    display: none;
  }
}
