.footer {
  padding: size(50px) size(30px) size(30px);

  @include tablet {
    padding: size-tablet(30px) size-tablet(20px) size-tablet(24px);
  }

  @include mobile {
    padding: size-mobile(25px) size-mobile(15px) size-mobile(20px);
  }
}

.footer__wrapper {
  display: flex;
  flex-direction: column;

  @include mobile {
    row-gap: size-mobile(70px);
  }
}

.footer__about {
  display: grid;
  grid-template-rows: min-content size(91px) min-content size(5px) min-content size(79px);
  grid-template-columns: repeat(2, 1fr);
  position: relative;

  @include tablet {
    grid-template-rows: min-content size-tablet(21px) min-content size-tablet(32px) min-content size-tablet(45px) min-content;
    grid-template-columns: repeat(2, 1fr);
  }

  @include mobile {
    display: flex;
    flex-direction: column;
    row-gap: size-mobile(40px);
  }
}

.footer__title {
  width: size(373px);
  font-size: size($fz-default);
  font-weight: 400;
  letter-spacing: size(-0.4px);
  margin: 0;
  margin-bottom: size(16px);
  margin-left: size(40px);
  grid-row: 1 / 2;
  grid-column: 2 / 3;

  @include tablet {
    width: unset;
    font-size: size-tablet($fz-tablet);
    letter-spacing: size-tablet(-0.4px);
    margin-bottom: size-tablet(2px);
    margin-left: size-tablet(20px);
  }

  @include mobile {
    display: none;
  }
}

.footer__button {
  width: size(250px);
  grid-row: 1 / 2;
  grid-column: 1 / 2;

  @include tablet {
    width: size-tablet(207px);
    grid-row: 3 / 4;
    margin-right: size-tablet(3px);
  }

  @include mobile {
    width: unset;
  }
}

.footer__contacts {
  margin-top: size(16px);
  margin-left: size(40px);
  grid-row: 2 / 5;
  grid-column: 2 / 3;

  @include tablet {
    margin-top: size-tablet(2px);
    margin-left: size-tablet(20px);
    grid-row: 3 / 6;

    &--footer {
      flex-direction: column;
      row-gap: size-tablet(20px);
    }
  }

  @include mobile {
    max-width: size-mobile(345px);
    margin: 0;

    &--footer {
      padding: 0;
      row-gap: size-mobile(24px);
    }
  }
}

.footer__logo {
  height: size(30px);
  font-family: $ff-second;
  font-size: size(25px);
  line-height: 1.2;
  font-weight: 600;
  letter-spacing: size(-0.3px);
  text-decoration: none;
  color: inherit;
  display: grid;
  grid-template-rows: repeat(1, min-content);
  grid-template-columns: repeat(3, min-content);
  column-gap: size(5px);
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease;

  &:hover,
  &:focus,
  &:focus-visible {
    opacity: 0.8;
  }

  @include desktop {
    position: absolute;
    top: 0;
    left: 100%;
    transform: translateX(-100%);
  }

  @include tablet {
    height: size-tablet(24px);
    font-size: size-tablet(20px);
    letter-spacing: size-tablet(-0.2px);
    column-gap: size-tablet(5px);
    grid-column: 1 / 2;
    justify-self: flex-start;
  }

  @include mobile {
    display: none;
  }
}

.footer__logo-name,
.footer__logo-text,
.footer__logo-icon {
  margin: 0;
  grid-row: 1 / -1;
}

.footer__logo-name {
  grid-column: 1 / 2;
}

.footer__logo-text {
  text-transform: lowercase;
  grid-column: 3 / 4;
}

.footer__logo-icon {
  width: size(24px);
  height: size(24px);
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 2 / 3;

  @include tablet {
    width: size-tablet(20px);
    height: size-tablet(20px);
  }
}

.footer__logo svg {
  width: size(24px);
  height: size(24px);

  @include tablet {
    width: size-tablet(20px);
    height: size-tablet(20px);
  }
}

.footer__social-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: size(10px) size(5px);
  grid-row: 3 / 4;
  grid-column: 1 / 2;

  @include tablet {
    gap: size-tablet(10px) size-tablet(5px);
    grid-row: 5 / 6;
  }

  @include mobile {
    gap: size-mobile(10px) size-mobile(5px);
  }
}

.footer__social-item {
  min-width: size(48px);
  height: size(48px);

  @include tablet {
    min-width: size-tablet(48px);
    height: size-tablet(48px);
  }

  @include mobile {
    min-width: size-mobile(48px);
    height: size-mobile(48px);
  }
}

.footer__social-link {
  font-family: $ff-second;
  font-size: size(16px);
  line-height: 1.2;
  font-weight: 600;
  letter-spacing: size(-0.4px);
  text-decoration: none;
  text-align: center;
  color: inherit;

  @include tablet {
    font-size: size-tablet(13px);
    letter-spacing: size-tablet(-0.4px);
  }

  @include mobile {
    font-size: size-mobile(13px);
    letter-spacing: size-mobile(-0.4px);
  }
}

.footer__description {
  display: grid;
  grid-template-rows: min-content size(20px) min-content min-content;
  grid-template-columns: repeat(2, 1fr);

  @include tablet {
    grid-template-rows: min-content size-tablet(15px) min-content min-content;
    grid-template-columns: repeat(2, 1fr);
    column-gap: size-tablet(20px);
  }

  @include mobile {
    display: flex;
    flex-direction: column;
    row-gap: size-mobile(7px);
  }
}

.footer__copyright {
  font-family: $ff-second;
  font-size: size(18px);
  line-height: 1.25;
  font-weight: 600;
  letter-spacing: size(-0.5px);
  margin: 0;
  align-self: flex-end;
  grid-row: 1 / 2;
  grid-column: 1 / 2;

  @include tablet {
    font-size: size-tablet($fz-tablet);
    letter-spacing: size-tablet(-0.4px);
  }

  @include mobile {
    font-size: size-mobile(13px);
    line-height: 1.16;
    letter-spacing: size-mobile(-0.4px);
    align-self: flex-start;
  }
}

.footer__presentation {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  margin-left: size(40px);

  @include tablet {
    margin-left: size-tablet(10px);
  }

  @include mobile {
    display: none;
  }
}

.footer__slogan {
  margin-bottom: size(5px);
  display: flex;
  column-gap: size(23px);
  grid-row: 3 / 4;
  grid-column: 1 / -1;

  @include tablet {
    max-width: size-tablet(728px);
    margin-bottom: size-tablet(5px);
    column-gap: size-tablet(12px);
  }

  @include mobile {
    margin-bottom: size-mobile(8px);
    margin-left: size-mobile(-2px);
    flex-direction: column;
    gap: size-mobile(11px) 0;
  }
}

.footer__slogan-word {
  font-family: $ff-second;
  font-size: size(87px);
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: size(-0.9px);
  text-transform: lowercase;
  margin: 0;
  opacity: 0;
  will-change: opacity, transform;

  @include tablet {
    font-size: size-tablet(46px);
    letter-spacing: size-tablet(-0.5px);
  }

  @include mobile {
    font-size: size-mobile(50px);
    line-height: 1;
    letter-spacing: size-mobile(-0.5px);
  }
}

.footer__privacy {
  width: max-content;
  font-weight: 400;
  letter-spacing: size(-0.4px);
  text-decoration: none;
  color: $color-privacy;
  grid-row: 4 / 5;
  grid-column: 1 / 2;
  transition: opacity 0.3s ease;

  &:hover,
  &:focus,
  &:focus-visible {
    opacity: 0.3;
  }

  @include max-tablet {
    width: unset;
  }

  @include tablet {
    font-size: size-tablet($fz-tablet);
    letter-spacing: size-tablet(-0.4px);
  }

  @include mobile {
    font-size: size-mobile($fz-tablet);
    letter-spacing: size-mobile(-0.4px);
  }
}
