.main-button {
  font-family: $ff-second;
  font-size: size(14px);
  line-height: 1.2;
  font-weight: 600;
  letter-spacing: size(-0.4px);
  text-transform: lowercase;
  text-align: center;
  color: $color-second;
  background-color: $color-main;
  border: none;
  border-radius: 15px;
  padding: size(22px);
  cursor: pointer;
  transition: color 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease, border-radius 0.3s ease;

  &:hover:not(:disabled),
  &:focus:not(:disabled),
  &:focus-visible:not(:disabled),
  &:active:not(:disabled) {
    color: $color-main;
    background-color: $color-second;
  }

  &:hover:not(:disabled),
  &:focus:not(:disabled),
  &:focus-visible:not(:disabled) {
    border-radius: 40px;
    box-shadow:
      0 7px 18px -15px rgba(14, 14, 14, 0.04),
      0 20px 20px 0 rgba(14, 14, 14, 0.05),
      0 24px 19px -30px rgba(14, 14, 14, 0.25);
  }

  &:active:not(:disabled) {
    border-radius: 15px;
  }

  &:disabled {
    color: inherit;
    background-color: $color-liner;
    border-radius: 40px;
    cursor: default;
  }

  @include tablet {
    font-size: size-tablet(13px);
    letter-spacing: size-tablet(-0.4px);
    border-radius: 12px;
    padding: size-tablet(16px);
  }

  @include mobile {
    font-size: size-mobile(13px);
    letter-spacing: size-mobile(-0.4px);
    border-radius: 10px;
    padding: size-mobile(16px);
  }
}
