.presentation {
  display: flex;
  align-items: center;
  gap: size(10px) size(5px);

  @include tablet {
    gap: size-tablet(10px) size-tablet(5px);
  }

  @include mobile {
    display: none;
  }
}

.presentation__file,
.presentation__pitch {
  font-family: $ff-second;
  font-size: size(14px);
  font-weight: 600;
  line-height: 120%;
  letter-spacing: size(-0.4px);
  text-decoration: none;
  text-align: center;
  color: inherit;
  background-color: $color-second;
  border-radius: 15px;
  padding: size(16px);
  transition: background-color 0.3s ease;

  &:hover,
  &:focus,
  &:focus-visible,
  &:active {
    background-color: $background-accent;
  }

  @include tablet {
    font-size: size-tablet(13px);
    border-radius: 12px;
    padding: size-tablet(15px);
  }
}

.presentation__pitch {
  &--footer {
    padding: size(16px) size(15px);
  }

  @include tablet {
    padding: size-tablet(15px) size-tablet(13px);
  }
}

.presentation span {
  font-family: $ff-second;
  font-size: size(13px);
  line-height: 110%;
  letter-spacing: size(-0.5px);
  text-transform: lowercase;
  color: $color-main-transparent;
  margin-left: size(6px);

  @include tablet {
    letter-spacing: size-tablet(-0.5px);
    font-size: size-tablet(13px);
    margin-left: size-tablet(5px);
  }
}
