.projects {
  padding: size(130px) size(28px) 0 size(30px);

  @include tablet {
    padding: size-tablet(78px) size-tablet(20px) 0;
  }

  @include mobile {
    padding: 0;
  }
}

.projects__wrapper {
  min-height: min-content;
  border-top: 1px solid $color-liner;
  display: grid;
  grid-template-rows: size(39px) min-content size(39px) min-content min-content;
  grid-template-columns: repeat(2, 1fr);
  position: relative;

  &::before {
    content: "";
    display: block;
    width: 1px;
    height: size(170px);
    background-color: $color-liner;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    @include tablet {
      height: size-tablet(130px);
    }

    @include mobile {
      display: none;
    }
  }

  @include tablet {
    grid-template-rows: size-tablet(21px) min-content size(19px) min-content min-content;
    column-gap: size-tablet(14px);
  }

  @include mobile {
    border: none;
    display: flex;
    flex-direction: column;
  }
}

.projects__info {
  min-height: size(170px);
  margin-bottom: size(40px);
  padding: 0 size(100px) 0 size(39px);
  grid-row: 2 / 4;
  grid-column: 2 / 3;

  @include tablet {
    min-height: size-tablet(130px);
    margin-bottom: size-tablet(38px);
    padding: 0;
    padding-left: size-tablet(13px);
  }

  @include mobile {
    width: size-mobile(345px);
    min-height: min-content;
    margin: 0 auto;
    padding: size-mobile(70px) 0;
    border-bottom: 1px solid $color-liner;
  }
}

.projects__title {
  font-family: $ff-second;
  font-size: size(26px);
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: size(-0.8px);
  margin: 0;
  margin-bottom: size(24px);

  @include tablet {
    font-size: size-tablet(20px);
    letter-spacing: size-tablet(-0.6px);
    margin-bottom: size-tablet(20px);
  }

  @include mobile {
    font-size: size-mobile(20px);
    letter-spacing: size-mobile(-0.6px);
    margin-bottom: size-mobile(14px);
  }
}

.projects__mission {
  @include tablet-etalon {
    display: none;
  }

  font-size: size-mobile($fz-tablet);
  font-weight: 400;
  line-height: 1.43;
  letter-spacing: size-mobile(-0.4px);
  margin: 0;
  margin-bottom: size-mobile(8px);
}

.projects__text {
  width: size(550px);
  line-height: 1.38;
  letter-spacing: size(-0.4px);
  color: $color-main-transparent;
  margin: 0;
  display: block;

  @include max-tablet {
    width: unset;
  }

  @include tablet {
    font-size: size-tablet($fz-tablet);
    letter-spacing: size-tablet(-0.4px);
  }

  @include mobile {
    font-size: size-mobile($fz-tablet);
    letter-spacing: size-mobile(-0.4px);
    color: inherit;
  }
}

.projects__subtitle {
  font-size: inherit;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: size(-0.5px);
  text-transform: lowercase;
  margin: 0;
  grid-row: 2 / 3;
  grid-column: 1 / 2;

  @include tablet {
    font-size: size-tablet(13px);
    letter-spacing: size-tablet(-0.4px);
  }

  @include mobile {
    font-size: size-mobile(12px);
    letter-spacing: size-mobile(-0.4px);
    margin: size-mobile(20px) 0 size-mobile(24px) size-mobile(15px);
  }
}

.projects__gallery-wrapper {
  width: size(1382px);
  min-height: auto;
  margin: 0 auto;
  display: flex;
  flex-flow: column wrap;
  grid-row: 4 / 5;
  grid-column: 1 / -1;
  margin-bottom: size(79px);

  @include tablet {
    width: size-tablet(728px);
    margin-bottom: size-tablet(50px);
  }

  @include mobile {
    width: 100%;
    margin-bottom: size-mobile(42px);
    padding: 0;
  }
}

.projects__gallery-slider-wrapper {
  @include mobile {
    width: 100%;
    position: relative;
    overflow: hidden;
    margin-right: size-mobile(50px);
    padding-right: size-mobile(-50px);
  }
}

.projects__gallery-categories {
  @include mobile {
    display: flex;
    flex-direction: column;
    row-gap: size-mobile(70px);
  }
}

.projects__gallery-title {
  @include tablet-etalon {
    display: none;
  }

  max-width: size-mobile(345px);
  font-family: $ff-second;
  font-size: size-mobile(20px);
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: size-mobile(-0.6px);
  margin: 0;
  margin-bottom: size-mobile(39px);
  margin-left: size-mobile(15px);
}

.projects__gallery-slider {
  height: auto;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: size(78px) size(16px);

  @include tablet {
    gap: size-tablet(59px) size-tablet(14px);
  }

  @include mobile {
    width: calc(size-mobile(315px) + size-mobile(60px));
    flex-wrap: nowrap;
    gap: 0 size-mobile(10px);
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.projects__gallery-slider--notmobile {
  @include mobile {
    display: none;
  }
}

.projects__gallery-slide {
  width: size(450px);
  height: auto;
  min-height: size(527px);
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s ease;
  overflow: visible;

  @include tablet {
    width: size-tablet(357px);
    min-height: size-tablet(415px);
  }

  @include mobile {
    min-width: size-mobile(315px);
    width: calc(100% - size-mobile(70px));
    min-height: size-mobile(373px);
    flex: 0 0 auto;
    transition: transform 0.3s ease;
    scroll-snap-align: center;

    &:first-child {
      margin-left: size-mobile(15px);
    }

    &:last-child {
      margin-right: size-mobile(15px);
    }
  }
}

.projects__gallery-slide a {
  width: 100%;
  height: auto;
  text-decoration: none;
  color: inherit;
  border-radius: 30px;
  display: grid;
  grid-template-rows: repeat(3, min-content);
  row-gap: size(11px);

  &:hover,
  &:focus,
  &:focus-visible {
    border-radius: 85px 85px 60px 60px;
  }

  @include tablet {
    row-gap: size-tablet(8px);
  }

  @include mobile {
    row-gap: size-mobile(5px);
  }
}

.projects__gallery-slide a:hover .projects__gallery-image,
.projects__gallery-slide a:focus .projects__gallery-image,
.projects__gallery-slide a:focus-visible .projects__gallery-image {
  opacity: 0.8;
  border-radius: 80px;
  transform: scale(1.04);
  transform-origin: center center;

  @include mobile {
    transform: scale(1);
  }
}


.projects__gallery-slide h4 {
  font-family: $ff-second;
  font-size: size(18px);
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: size(-0.5px);
  margin: 0;
  margin-left: size(20px);
  grid-row: 2 / 3;

  @include tablet {
    font-size: size-tablet($fz-tablet);
    letter-spacing: size-tablet(-0.4px);
    margin-left: size-tablet(15px);
  }

  @include mobile {
    font-size: size-mobile($fz-tablet);
    letter-spacing: size-mobile(-0.4px);
    margin-left: size-mobile(10px);
  }
}

.projects__gallery-slide p {
  font-size: size($fz-tablet);
  line-height: 1.3;
  letter-spacing: size(-0.2px);
  color: $color-main-transparent;
  margin: 0;
  margin-left: size(20px);
  grid-row: 3 / 4;

  @include tablet {
    font-size: size-tablet($fz-tablet);
    letter-spacing: size-tablet(-0.2px);
    margin-left: size-tablet(15px);
  }

  @include mobile {
    font-size: size-mobile($fz-tablet);
    line-height: 1.29;
    letter-spacing: size-mobile(-0.2px);
    margin-left: size-mobile(10px);
  }
}

.projects__gallery-image {
  width: size(450px);
  height: size(450px);
  grid-row: 1 / 2;
  margin-bottom: size(14px);
  border-radius: 30px;
  overflow: hidden;
  transform: scale(1);
  transition: opacity 0.3s ease, border-radius 0.5s cubic-bezier(0.4, 0, 0.2, 1), transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  transform-origin: center center;
  will-change: transform, border-radius;
  backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;


  @include tablet {
    width: size-tablet(357px);
    height: size-tablet(350px);
    margin-bottom: size-tablet(12px);
    border-radius: 20px;
  }

  @include mobile {
    width: size-mobile(315px);
    height: size-mobile(315px);
    margin-bottom: size-mobile(10px);
    border-radius: 15px;
  }
}

.projects__gallery-image img {
  width: 100%;
  height: 100%;

  @include max-tablet {
    object-fit: fill;
  }
}

.projects__button {
  width: size(234px);
  grid-row: 5 / 6;
  grid-column: 1 / -1;
  justify-self: center;

  @include tablet {
    width: size-tablet(203px);
  }

  @include mobile {
    width: size-mobile(345px);
    margin: 0 auto;
  }
}
